<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
	colors="true" 
	bootstrap="vendor/autoload.php">
	
  <testsuites>
    <testsuite name="GooBiq Lightweight PHP Component Framework - Validation Tests">
       <directory>./tests/Core/Validation/</directory>
    </testsuite>
  </testsuites>
  
</phpunit>